doctype html
html
  head
    title Jack Dance Academy

    block style
    block scripts

  body
    nav#navbar
      ul
        li
          img(src="/static/img/logo.png", alt="logo", height="45")
        li HDA
        li
          a(href="#") Home
        li
          a(href="#") About
        li
          a(href="#") Services
        li
          a(href="#") Class Info
        li
          a(href="#") Contact Us

    block content

    footer#footer
      | Copyright © 2025 JackAcademy.com | All Rights Reserved
